.content {
    height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #f7f7f7;
}

.card {
    margin-right: 30px;
    
    width: 500px;
    height: 450px;

    background-color: #fafafa;
    border: #000000 1px solid;
    border-radius: 2%;

    float: left;
}

.main-card--title {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
}

.campos-form {
    margin: 5%;
}

.campo-input {
    display: grid;
    align-content: center;
    padding-bottom: 35px;
}

.campo-input input {
    height: 30px;
}

.campo-input label {
    text-align: left;

    font-size: 20px;
    padding-bottom: 5px;
}

.campo-btn {
    justify-content: center;
}

.btn {
    width: 450px;
    height: 30px;

    background-color: #2e4eff;

    font-size: large;
    font-weight: bold;
    color: #fff;

    border: none;
}

.btn:hover {
    background-color: #4d67ff;
}

.btn:active {
    background-color: #686868;
}

.resultado {
    font-size: 25px;
    font-weight: bold;

    text-align: center;
}

.esconder {
    display: none;
}

.tabela-info {
    margin: auto;
    margin-top: 20px;
}

.tabela-info table, th, td {
    border: 1px solid;

    width: 55%;
    text-align: center;
    vertical-align: middle;
}

.tabela-info table, th {
    height: 50px;

    background-color: #6a9eff;
}

.tabela-info table, td {
    width: 200px;
    height: 45px;
}

.tabela-info table, tr:nth-child(even) {
    background-color: #dde9ff;
}

.tabela-info table, tr:nth-child(odd) {
    background-color: #c4d9ff;
}

.tabela-info--cabecalho {
    font-size: 30px;
    font-weight: bold;
}

.tabela-info--celulas {
    font-size: 20px;
}

.info-imc {
    margin: 20px;
}

.card-info h2 {
    font-size: 25px;
    font-weight: 400;

    text-align: left;
}

.info-imc--fonte {
    padding-top: 30px;
}

.info-imc--fonte a, a:visited {
    text-decoration: none;

    color: #003cff;
}

.info-imc--fonte a:hover {
    color: #4e77ff;
}

#footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 1rem; 

    background-color: #000000;
}

.footer {
    color: #fff;
    text-align: center;
    vertical-align: middle;
}

@media only screen and (max-width: 768px) {
    .content {
        height: 260vh;
        
        display: block;
        justify-content: center;
        align-items: center;
    
        background-color: #f7f7f7;
    }

    .card {
        margin-left: 7%;
        margin-bottom: 30px;

        width: 320px;
        height: 550px;
    
        border: #000000 1px solid;
        border-radius: 2%;
    }

    .btn {
        width: 288px;
        height: 36px;
    
        background-color: #2e4eff;
    
        font-size: large;
        font-weight: bold;
        color: #fff;
    
        border: none;
    }

    .tabela-info table, th, td {
        border: 1px solid;
    
        text-align: center;
        vertical-align: middle;
    }
    
    .tabela-info table, th {
        height: 50px;
    }
    
    .tabela-info table, td {
        width: 135px;
        height: 61px;
    }

    .info-imc {
        text-justify: auto;
    }

    .info-imc--fonte {
        padding-top: 10px;
    }

    .tabela-info--cabecalho {
        font-size: 28px;
        font-weight: bold;
    }

    #footer {
        display: block;
        position: fixed;
        width: 100%;
        height: 15px; 
        bottom: 0;
    
        background-color: #000000;
    }

    .footer {
        color: #fff;
        text-align: center;
        vertical-align: middle;
    }
}